packaging==23.1
torch==2.2.2
torchaudio==2.2.2
torchvision==0.17.2
accelerate==0.28.0
appdirs==1.4.4
click==8.1.7
docker-pycreds==0.4.0
einops==0.7.0
flash-attn==2.5.6
fsspec==2024.3.1
huggingface-hub==0.22.2
ruamel.yaml==0.17.40
ruamel.yaml.clib==0.2.8
safetensors==0.4.2
tokenizers==0.15.2
tqdm==4.66.2
transformers==4.39.3
triton==2.2.0
wandb==0.16.6
xformers==0.0.25.post1
numpy==1.26.4
torchdata
timm==0.9.16
braceexpand
fvcore
pycocotools
scipy
opencv-python
